html{
    font-family: "Lexend",sans-serif;
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    height: 100%;
    width: 100%;
}
header{
    display: flex;
    background-color:#6AC5E2;
    height:10%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    margin-left: 25px;
    width: 100%;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
}
nav ul a{
    color: black;
    text-decoration: black ;
    font-size: 20px;
}
a:hover{
color:white ;
}
a:visited{
    color: #3069B6;
}
main{
    height: 85%;
    display: flex;
    background-color: #F4803D;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div{
    display: flex;
    background-color: #6AC5E2;
    flex-direction: column;
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
    padding: 10px;
}
img{
    display: flex;
    height: 65%;
    width: 65%;
}
p{
    display: flex;
}
footer{
    display: flex;
    height: 5%;
    background-color: #6AC5E2;
    color: white ;
    align-items: center;
    justify-content: center;
}